@page "/counter"

<PageTitle>Propozytor Ocen tego projektu</PageTitle>

<h1> OSTROŻNIE: Skomplikowany algorytm na bazie wielu sprzężonych sieci neuronowych i komputera kwantowego Google oblicza sugerowaną ocenę za ten projekt</h1>



<button class="btn btn-primary" @onclick="IncrementCount">Generuj!</button>

<p role="status">Sugerowana ocena to: @currentCount</p>
<font size=+5><h2> @wow</h2></font>


@code {
    private int currentCount =0;
    private String wow = "";

    private void IncrementCount()
    {
        currentCount =5;
        wow = "WOW!";

    }
}
